body {
	font-size: 12px;
	padding: 20px 20px 20px 15px;
}

#menu {
	width: auto;
	z-index: 1;
}

#results {
	min-height: 99%;
	width: 100%;
    height:auto;
	z-index: 2;
}	

#menu > li > ul {
	width: 110%;
	overflow: visible !important;
	z-index: 5;
}

#RowToolsBox {
	margin-left: -35px;
	margin-right: -35px;
	font-size: 12px;
}

.InputDataBox {
	padding: 10px;
	margin-bottom: 10px;
}

.ToolsBox {
  position: relative;
	padding: 10px;
}

.ModelOutputBox {
  position: relative;
	padding: 10px;
}

.shiny-image-output > img {
	max-width: 100%;
	height: auto;
}

.shiny-mydatatable-output {
	font-size: 12px;
}

.shiny-mydatatable-output table {
	font-size: inherit;
}

.ui-state-default {
	text-align: center;
}
	
.pure-form-aligned .pure-control-group label {
	margin-left: -35px;
}

.logo {
	margin-bottom: 15px;
	padding-top: 8px;
	padding-left: 5px;
	width:100px;	
}

input[type="text"] {
	color: black;
}

select {
	color: black;
}

.arqas-number-input {
	width:4.5em;
}

.ui-icon-close {
	display: -moz-inline-stack;
}


.ui-menu { 
font: 13px Arial;
}
.ui-menu .ui-menu {
overflow: visible !important;
}
.ui-menu > li { 
float: left;
display: block;
width: auto !important;
}
.ui-menu ul li {
display:block;
float:none;
}
.ui-menu ul li ul {
left:120px !important;
width:100%;
}
.ui-menu ul li ul li {
width:auto;
}
.ui-menu ul li ul li a {
float:left;
}
.ui-menu > li {
margin: 5px 5px !important;
padding: 0 0 !important;
}
.ui-menu > li > a { 
float: left;
display: block;
clear: both;
}
.ui-menu .ui-menu-icon { 
margin-top: 0.3em !important;
}
.ui-menu .ui-menu .ui-menu li { 
float: left;
display: block;
}